body {
    transition: background-color ease-in 1s;
}

.copied {
    background-color: #b2eeaa;
}

.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 70px;
    font-size: 90%;
}

/* fix for fixed navbar */
a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.not-encoded {
    color: lightgray;
}

.btn-group-xs > .btn, .btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .8;
    border-radius : .2rem;
    font-size: 80%;
}

h2 {
    border-top: 2px solid coral;
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
    padding-top: 10px
}

.dataTables_wrapper {
    margin-bottom: 20px;
}

table.dataTable td, table.dataTable th {
    padding: 4px 4px;
}

table.dataTable tbody td, table.dataTable tbody th {
    padding: 6px 6px;
}
table.dataTable thead td, table.dataTable thead th {
    padding: 10px 6px;
}

tr.dtrg-group {
    font-weight: bold;
}

tr.dtrg-level-0 {
    background-color: lightblue !important;
}
tr.dtrg-level-1 {
    background-color: #c1ecfa !important;
}


table.urls {
    margin-bottom: 0px;
}

table.urls tr {
    background-color: transparent !important;
}

table.urls th {
    width: 6em;
}

.control:before {
    font-size: 150%;
    line-height: 16px !important;
}

table tr {
    transition: all 0.5s ease;
}

table tr.highlight {
    background: #f9f98e !important;
}

a.follow-ref {
    color: blue;
    cursor: pointer;
}

table.urls tr:first-child td,
table.urls tr:first-child th,
table.hidden-columns tr:first-child td,
table.hidden-columns tr:first-child th {
    border-top: none !important;
}

.more:before {
    top: 16px !important;
}

span.help {
    font-style: italic;
    font-size: 90%;
    color: darkgreen;
    padding-right: 20px;
}