body {
    transition: background-color ease-in 1s;
}

.section {
    margin-top: 10px;
    border-left: 3px solid;
}
.section .header {
    padding-left: 0;
}
.section .header h2 {
    padding-left: 15px;
}
.section .col-12 {
    margin-left: 20px;
}

.topic-encodings {
    border-left-color: blue;
}
.topic-encodings h2 {
    border-top-color: blue;
}
.topic-encodings .table .thead-light th {
    background-color: blue;
    color: white;
}

.topic-muxings {
    border-left-color: green;
}
.topic-muxings h2 {
    border-top-color: green;
}
.topic-muxings.nav-item {
    border-bottom: green 5px solid;
}
.topic-muxings .table .thead-light th {
    background-color: green;
    color: white;
}

.topic-streams {
    border-left-color: darkred;
}
.topic-streams h2 {
    border-top-color: darkred;
}
.topic-streams.nav-item {
    border-bottom: darkred 5px solid;
}
.topic-streams .table .thead-light th {
    background-color: darkred;
    color: white;
}

.topic-inputs {
    border-left-color: darkorange;
}
.topic-inputs h2 {
    border-top-color: darkorange;
}
.topic-inputs.nav-item {
    border-bottom: darkorange 5px solid;
}
.topic-inputs .table .thead-light th {
    background-color: darkorange;
    color: white;
}

.topic-manifests {
    border-left-color: purple;
}
.topic-manifests h2 {
    border-top-color: purple;
}
.topic-manifests.nav-item {
    border-bottom: purple 5px solid;
}
.topic-manifests .table .thead-light th {
    background-color: purple;
    color: white;
}

.topic-graph {
    border-left-color: darkgoldenrod;
}
.topic-graph h2 {
    border-top-color: darkgoldenrod;
}
.topic-graph.nav-item {
    border-bottom: darkgoldenrod 5px solid;
}

.nav-item {
    margin-right: 5px;
}

.copied {
    background-color: #b2eeaa;
}

.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 70px;
    font-size: 90%;
}

/* fix for fixed navbar */
a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.not-encoded {
    color: lightgray;
}

.btn-group-xs > .btn, .btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .8;
    border-radius : .2rem;
    font-size: 80%;
}

h2 {
    border-top: 3px solid coral;
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
    padding-top: 10px
}

.dataTables_wrapper {
    margin-bottom: 20px;
}

table.dataTable, table.dataTable th, table.dataTable td {
    box-sizing: inherit;   /* instead of content-box, to fix alignment of URL tables within main table */
}

table.dataTable td, table.dataTable th {
    padding: 4px 4px;
}

table.dataTable tbody td, table.dataTable tbody th {
    padding: 6px 6px;
}
table.dataTable thead td, table.dataTable thead th {
    padding: 10px 6px;
}

tr.dtrg-group {
    font-weight: bold;
}

tr.dtrg-level-0 {
    background-color: lightblue !important;
}
tr.dtrg-level-1 {
    background-color: #c1ecfa !important;
}


table.urls {
    margin-bottom: 0px;
}

table.urls tr {
    background-color: transparent !important;
}

table.urls th {
    width: 6em;
}

table.filters th {
    width: 3em;
    border-right: 1px solid lightgrey;
}

.control:before {
    font-size: 150%;
    line-height: 16px !important;
}

table tr {
    transition: all 0.5s ease;
}

table tr.highlight {
    background: #f9f98e !important;
}

a.follow-ref {
    color: blue;
    cursor: pointer;
}

table.urls tr:first-child td,
table.urls tr:first-child th,
table.hidden-columns tr:first-child td,
table.hidden-columns tr:first-child th {
    border-top: none !important;
}

.more:before {
    top: 16px !important;
}

span.help {
    font-style: italic;
    font-size: 90%;
    color: darkgreen;
    padding-right: 20px;
}

#graphviz {
    border: 1px solid gray;
    width: 100%;
    margin-bottom: 10px;
}

#info-floaters {
    position: relative;
}
.floater {
    font-size: 80%;
    border: 2px solid lightgray;
    padding: 2px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    resize: both;
    overflow: auto;
    z-index: 1;
}
.floater-title {
    padding: 2px;
    cursor: move;
    font-weight: bold;
}
.floater-title a {
    float: right
}
.floater-body {
    padding: 5px;
}

.renderjson a              { text-decoration: none; }
.renderjson .disclosure    {
    color: crimson;
    font-size: 150%;
    line-height: 0;
    position: relative;
    top: 2px;
    margin-right: 10px;
}
.renderjson .syntax        { color: grey; }
.renderjson .string        { color: forestgreen; }
.renderjson .number        { color: orange; }
.renderjson .boolean       { color: plum; }
.renderjson .key           { color: dimgray; }
.renderjson .keyword       { color: lightgoldenrodyellow; }
.renderjson .object.syntax { color: lightseagreen; }
.renderjson .array.syntax  { color: lightsalmon; }
