.copied {
    background-color: lightgreen;
}

.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    font-size: 85%;
}

.not-encoded {
    color: lightgray;
}

.btn-group-xs > .btn, .btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .8;
    border-radius : .2rem;
    font-size: 80%;
}

table.dataTable td, table.dataTable th {
    padding: 4px 4px;
}

table.dataTable tbody td, table.dataTable tbody th {
    padding: 6px 6px;
}
table.dataTable thead td, table.dataTable thead th {
    padding: 10px 6px;
}